* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-body);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-align: none;
  display: block;
}

html,
body {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

body {
  color: white;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
